# Add any directories, files, or patterns you don't want to be tracked by version control
.vs
Debug
Release
x64

zlib_static/Debug
zlib_static/Release
zlib_static/x64


BulletPhysics/Debug
BulletPhysics/Release
BulletPhysics/x64


BotQSystemTools/Debug
BotQSystemTools/Release
BotQSystemTools/x64


BotQGraphics/Debug
BotQGraphics/Release
BotQGraphics/x64


BotQEngine/Debug
BotQEngine/Release
BotQEngine/x64


BotQ/Debug
BotQ/Release
BotQ/x64

BotQServer/Debug
BotQServer/Release
BotQServer/x64

Bq3Converter/Debug
Bq3Converter/Release
Bq3Converter/x64

